.colset_wrapper {
    display:inline-block;
    margin-left:1em;
    overflow:hidden;
    width:200px;
    border:1px solid #ccc;
    background-color:#ededed;
    vertical-align: text-bottom;
}
.colset_column {
    display:block;
    float:left;
    line-height:1.5em;
    text-align:center;
    color: #333;
    font-weight:bold;
}
.colset_active {
    background-color:#f00;
    color: #fff;
}